<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <title>BusSchedules - UMaHora</title>
</head>
<body>
    <nav id="navBar">
        <div id="moreOpcIcon"></div>
        <div id="pageName">Transporte</div>
        <div id="feedbackIcon"></div>
    </nav>
    <div id="contentBox">
        <div class="boxBusEvent">
            <p class="boxTimeEvent isLate">Atrasado 5min<span>8:00</span></p>
            <p class = "busID">69 - Universidade UMa</p> 
        </div>
        <div class="boxBusEvent">
            <p class="boxTimeEvent tillArrive">Chega em 49 min<span>8:15</span></p>
            <p class = "busID">69 - Universidade UMa</p> 
        </div>
        <div class="boxBusEvent">
            <p class="boxTimeEvent gotCancel">Cancelado<span>8:15</span></p>
            <p class = "busID">69 - Universidade UMa</p> 
        </div>
    </div>
</body>
</html>