<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <title>Associar Passe - UMaHora</title>
</head>
<body>
    <%- include("../views/partials/navBar.ejs"); %>
    <%- include("../views/partials/moreOpcOverlay.ejs"); %>
    <div id="contentBox">
        <div id="busPassImageTitle">
            <img src="../public/images/busPassIcon.png">
            <p>Associar Passe</p>
        </div>
        <p>Para poder associar o passe com a aplicação. Por favor preencha o seguinte formulário, que será enviado para os Horários do Funchal.</p>
        <form id="formToConnectBusPass" action="/pass">
            <label>
                Nome Completo
                <input type="text" name="fullName">
            </label>
            <label>
                NIF
                <input type="number" name="nif">
            </label>
            <label>
                Número de Passe
                <input type="number" name="busPassNumber">
            </label>
            <div id="formConnectBusPassBtns">
                <button type="submit" id="btnSendFormBusPass" name="sendForm">Enviar</button>
                <button type="button" name="cancelForm">Cancelar</button>  
            </div>
        </form>
    </div>
    <script src="../public/scripts/overlayMoreOpcPages.js"></script>
</body>
</html>