<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <title>Transporte Horários - UMaHora</title>
</head>
<body>
    <div id="contentBox" class="center">
        <form action="#">
            <label>
                Email académico<br>
                <input type="text" name="email"><br><br>
            </label>
            <label>
                Palavra-passe<br>
                <input type="password" name="password"><br><br>
            </label><br><br><br>
            <button type="submit">Acessar</button><button>Registrar</button>
        </form>
    </div>
</body>
</html>