<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <title>Register</title>
</head>
<body>
    <div id="contentBox">
        <div id="RegisterImageTitle">
            <img src="../public/images/bus-school.png">
            <p id="pRegister">Registo</p>
        </div>
        <form id="formToRegister" action="#">
            <br>
            <label>
                Email académico
                <input type="email" name="email">
            </label>
            <label>
                Palavra-passe
                <input type="password" name="password">
            </label>
            <label>
                Confirmar palavra-passe
                <input type="password" name="confirmPassword">
            </label>
            <div id="divRegisterBtns">
                <button type="submit" id="btnSendFormRegister" name="sendFormRegister">Registar</button>
                <button type="button" name="redirectLogin">Login</button>  
            </div>
        </form>
    </div>
</body>
</html>