<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <title>Register</title>
</head>
<body>
    <div id="contentBox">
        <div id="RegisterImageTitle">
            <img src="../public/images/bus-school.png">
            <p id="pRegister">Registo</p>
        </div>
        <form method="post" id="formToRegister">
            <br>
            <label>
                Email académico
                <input type="email" name="email" required>
            </label>
            <label>
                Palavra-passe
                <input type="password" name="password" required>
            </label>
            <label>
                Confirmar palavra-passe
                <input type="password" name="confirmPassword" required>
            </label>
            <div id="divRegisterBtns">
                <button type="submit" id="btnSendFormRegister">Registar</button>
                <a href="/login"><button type="button">Login</button></a>
            </div>
        </form>
    </div>
</body>
</html>