<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav id="navBar">
        <div id="moreOpcIcon"></div>
        <div id="pageName">Pagamento do Passe</div>
        <div id="feedbackIcon"></div>
    </nav>
    <div id="paymentInfo" class="container">
        <div class="label row">Estado do pagamento</div>
        <div id="paymentState" class="row"></div>
        <div class="label row">Referência de multibanco</div>
        <div id="paymentReference" class="row"></div>
        <div class="label row">Valor a Pagar</div>
        <div id="paymentPrice" class="row"></div>
    </div>
    <footer>
        Universidade da Madeira
    </footer>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script> <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous">
    </script>

    <script>
        let payment = {
            state : "Pago",
            reference : 123890456,
            price : 67.00,
        };

        let paymentStateDisplay = document.getElementById("paymentState");
        let paymentReferenceDisplay = document.getElementById("paymentReference");
        let paymentPriceDisplay = document.getElementById("paymentPrice");

        paymentStateDisplay.insertAdjacentHTML("afterbegin", payment.state);
        paymentReferenceDisplay.insertAdjacentHTML("afterbegin", payment.reference);
        paymentPriceDisplay.insertAdjacentHTML("afterbegin", `${payment.price.toFixed(2)}€`)
    </script>

</body>
</html>