<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/myStyles.css">
    <title>Document</title>
</head>
<body>
    <nav id="navBar">
        <div id="moreOpcIcon"></div>
        <div id="pageName">Pagamento do Passe</div>
        <div id="feedbackIcon"></div>
    </nav>
    <div id="paymentInfo" class="container">
        <div class="label row">Estado do pagamento</div>
        <div id="paymentState" class="row"></div>
        <div class="label row">Referência de multibanco</div>
        <div id="paymentReference" class="row"></div>
        <div class="label row">Valor a Pagar</div>
        <div id="paymentPrice" class="row"></div>
    </div>
    <footer>
        Universidade da Madeira
    </footer>

    <script>
        let payment = {
            state : "Pago",
            reference : 123890456,
            price : 67.00,
        };

        let paymentStateDisplay = document.getElementById("paymentState");
        let paymentReferenceDisplay = document.getElementById("paymentReference");
        let paymentPriceDisplay = document.getElementById("paymentPrice");

        paymentStateDisplay.insertAdjacentHTML("afterbegin", payment.state);
        paymentReferenceDisplay.insertAdjacentHTML("afterbegin", payment.reference);
        paymentPriceDisplay.insertAdjacentHTML("afterbegin", `${payment.price.toFixed(2)}€`)
    </script>

</body>
</html>