<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/myStyles.css">
    <title>Pagamento do Passe - UMaHora</title>
</head>
<body>
    <nav id="navBar">
        <div id="moreOpcIcon"></div>
        <div id="pageName">Pagar Passe</div>
        <div id="feedbackIcon"></div>
    </nav>
    <div id="contentBox">
        <div id="paymentInfo">
            <fieldset>
                <legend>Estado do pagamento</legend>
                <div id="paymentState"></div>
            </fieldset>
            <fieldset>
                <legend>Referência de multibanco</legend>
                <div id="paymentReference">123-456-789</div>
            </fieldset>
            <fieldset>
                <legend>Valor a Pagar</legend>
                <div id="paymentPrice" class="row"></div>
            </fieldset>
        </div>
    </div>

    <script>
        let payment = {
            state : "Pago",
            reference : 123890456,
            price : 67.00,
        };

        let paymentStateDisplay = document.getElementById("paymentState");
        let paymentReferenceDisplay = document.getElementById("paymentReference");
        let paymentPriceDisplay = document.getElementById("paymentPrice");

        paymentStateDisplay.insertAdjacentHTML("afterbegin", payment.state);
        //paymentReferenceDisplay.insertAdjacentHTML("afterbegin", payment.reference);
        paymentPriceDisplay.insertAdjacentHTML("afterbegin", `${payment.price.toFixed(2)}`)
    </script>

</body>
</html>