html{
    height: 100%;
    font-family: "Gill Sans", sans-serif;
}
body{
    max-height: 100%;
    background:#cdd4de;
}
#navBar{
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background:  #cdab27;
    font-size: 20px;
}
#navBar>*{
    margin: auto;
}
#pageName{
    margin-left: 1em;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
#moreOpcIcon,
#feedbackIcon{
    height: 60%;
    aspect-ratio: 16/9;
}
#moreOpcIcon{
    background: url("../images/optionsIcon.png") center/contain no-repeat;
}
#feedbackIcon{
    background: url("../images/feedbackIcon.png") center/contain no-repeat;
}
#moreOpcOverlay{
    display: none;
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 18px;
}
#moreOpcOverlay>ul{
    display:flow-root;
    width: 50%;
    height: 100%;
    margin: 0;
    background: rgb(185, 155, 35);
    list-style: none;
}
#moreOpcOverlay>ul>li{
    margin-top: 2em;
}
#moreOpcOverlay>ul>li::before{
    content: "";
    display: inline-block;
    height: 1.4em;
    aspect-ratio: 1/1;
    margin-right: 0.5em;
}
#transportRef::before{
    background: url("../images/busIcon.png") center/contain no-repeat;
}
#transportRef+li::before{
    background: url("../images/busTicketIcon.png") center/contain no-repeat;
}
#feedbackRef::before{
    background: url("../images/feedbackIcon.png") center/contain no-repeat;
}
#feedbackRef+li::before{
    background: url("../images/logoutIcon.png") center/contain no-repeat;
}
#moreOpcOverlay>ul>li a{
    text-decoration: none;
    color: black;
}
#contentBox{
    margin-top: 4rem;
    padding-bottom: 4rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    font-size: 18px; 
}
#contentBox::-webkit-scrollbar{
    display: none;
}
.boxBusEvent{
    display: grid;
    grid-template-rows: 50% 50%;
    margin-top: 0.5em;
    border-radius: 5px;
}
.lateEventBox{
    background: rgb(213, 161, 64);
}
.willArriveEventBox{
    background: rgb(138, 138, 228);
}
.cancelEventBox{
    background: rgb(198, 73, 73);
}
.boxBusEvent > * {
    margin: 0.5em 0.5em;
    display: block;
    font-weight: bold;
}
.boxTimeEvent>span{
    margin-left:  1em;
    font-size: 0.9em;
    font-weight: normal;
}
.boxTimeEvent::before,
.busID::before{
    content: "";
    display: inline-block;
    margin-right: 0.3em; 
    height: 100%;
    aspect-ratio: 1/1;
}
.tillArrive::before{
    background: url("../images/clockIcon.png") center/contain no-repeat;    
}
.isLate::before{
    background: url("../images/lateIcon.png") center/contain no-repeat;
}
.gotCancel::before{
    background: url("../images/cancelIcon.png") center/contain no-repeat;
}
.busID::before{
    background: url("../images/busIcon.png") center/contain no-repeat;
}
#pRegister,
#pLogin{
    width: 100%;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
#busPassImageTitle,
#LoginImageTitle,
#RegisterImageTitle{
    text-align: center;
    position: relative;
    z-index: -1;
}
#busPassImageTitle>img,
#LoginImageTitle>img,
#RegisterImageTitle>img{
    width: 60%;
    aspect-ratio: 1/1;
}
#busPassImageTitle>p{
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
#busPassImageTitle+p{
    width: 90%;
    margin-inline: auto;
    text-align: center;
}
#formToConnectBusPass,
#formToLogin,
#formToRegister{
    margin-top: 0.5em;
    display: grid;
    grid-template-rows: auto auto auto auto;
}
#formToConnectBusPass>label,
#formToLogin>label,
#formToRegister>label{
    margin: 1em auto 0; 
    display: grid;
    grid-template-rows: auto auto;
}
#formToConnectBusPass>label>input,
#formToLogin>label>input,
#formToRegister>label>input{
    width: 80vw;
    height: 2.5em;
    margin-top: 0.5em;
    padding-inline: 0.5em;
    font-size: 16px;
}
#formConnectBusPassBtns,
#divLoginBtns,
#divRegisterBtns{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2.5em;
}
#formConnectBusPassBtns button,
#divLoginBtns button,
#divRegisterBtns button{
    min-width: 80%;
    height: 3.2em;
    margin-inline: auto;
    border: none;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1.1em;
}
#btnSendFormBusPass,
#btnSendFormLogin,
#btnSendFormRegister{
    background: rgb(255, 255, 62);
    color: rgb(83, 83, 83);
}
#btnSendFormBusPass+button,
#btnSendFormLogin+button,
#btnSendFormRegister+button{
    background: rgb(151, 151, 151);
    color: white;
}
/* Payment */
#busPassPaymentTitle,
#busPassPaymentInfo
{
    margin-bottom: 1.5em;
    text-align: center;
}
#busPassPaymentTitle>img{
    height: 8em;
}
#paymentInfo{
    width: 80%;
    margin: 1em auto 0;
}
#paymentInfo>fieldset{
    border: solid black 1px;
    border-radius: 0.5em;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.5);
}
#paymentInfo legend{
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    background: rgb(66, 66, 6);
    color: white;
    font-weight: bold;
    font-size: 16px;
}
#paymentPrice{
    font-size: 2.5rem;
    padding: 1rem;
    font-weight: bold;
    &::after{
        content: "€";
        padding-left: 0.2em;
    }
}
#paymentReference,
#paymentState{
    font-size: 1.25rem;
    padding: 1rem;
}

/*FEEDBACK*/

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    user-select: none;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    width: 100%; min-height: 100vh;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}
.mid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.head, .mid, .textarea, .end{
    padding: 15px;
}
img{
    height: 50px; width: 50px;
    cursor: pointer;
    background-color: rgba(233, 212, 97, 0.507);
    border-radius: 50%;
    transition: 0.1s linear;
}
img:hover{
    background-color: gold;
    transform: scale(1.2);
}
.active{
  background-color: gold;
    transform: scale(1.2);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    width: 70%;
}
.heading h1{
    font-size: 25px;
    border-bottom: 8px solid gold;
    font-weight: bolder;
}
.close{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.1s linear;
    padding: 0 10px;
}
.close:hover{
    transform: scale(1.2);
}
.s{
    width: 1.5px; height: 20px;
    background-color: black;
    border-radius: 100px;
}
.s1{
    transform: translateX(1.5px) rotate(45deg);
}
.s2{
    transform: rotate(-45deg);
}
.textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.textarea p{
    font-size: 18px;
}
textarea{
    outline: none;
    resize: none;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 5px;
}
.end{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    width: 150px;
    height: 35px;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
}
.sub{
    background: gold;
    border: 1px solid transparent;
    transition: 0.1s linear;
}
.skp{
    transition: 0.1s linear;
    border: 1px solid black;
}
.skp:hover{
    background-color: black;
    color: white;
}
.sub:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
}
.checkbox {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.checkbox label {
    display: flex;
    align-items: center;
}

.checkbox input {
    margin-right: 5px;
}